.App {
  width: 50%;
  margin:auto;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}
.gifList {
  display: flex;;
  flex-wrap: wrap;
}
.flex_container {
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
}
.selectedGif {
  width: 400px;
  height: 400px;
}

.selectedGif > img {
  width: 400px;
  height: 400px;
}

.gif {
  flex: 0 0 33.333333%;
  cursor: pointer;
  margin: 15px 15px;
}